<div class="review">
  <span class="reviews-rating" title="<%= txt_stars(review.rating) %>">
    <%= render 'spree/reviews/stars', stars: review.rating %>
  </span>
  <span><%= review.title %></span>
  <br>
  <span class="attribution"><%= Spree.t(:submitted_on) %>
    <strong><%= l review.created_at.to_date %></strong>
  </span> 
  <% if review.show_identifier %>
    <% if Spree::Reviews::Config[:show_email] && review.user %>
      <span><%= review.user.email %></span>
    <% else %>
      <span><%= review.name %></span>
    <% end %>
  <% else %>
    <span><%= Spree.t(:anonymous) %></span>
  <% end %>
  <div>
    <%= sanitize simple_format(review.review), tags: %w(p b i br) %>
  </div>
  <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || spree_current_user) %>
    <div class="feedback_review my-3" id="feedback_review_<%= review.id %>">
      <%= render 'spree/feedback_reviews/form', review: review %>
    </div>
  <% end %>
</div>
